/* ========== Reset Styles =========== */
/* http://meyerweb.com/eric/tools/css/reset/ 
	 v2.0 | 20110126
	 License: none (public domain)
*/
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, em, img, ol, ul, li, form, label,
table, tbody, tfoot, thead, tr, th, td,
article, aside, details, embed, 
figure, footer, header, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, figure, 
footer, header, section {
	display: block;
}
div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	line-height: 1;
	background: #f9f9f9;
}
ol, ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}

/* ========== Styles =========== */

/* --- General Selectors --- */
h1 {
	font: 100%/1 'Helvetica', Arial, sans-serif;
	color: #fff;
	font-size: 2em;
    text-transform: uppercase;
}
h2, h3, h4, p, a, li, data {
	font: 100%/1.3 'Helvetica', Arial, sans-serif;
	color: #444;
}
h2 {
	font-size: 1.8em;
	font-weight: bold;
}
h3 {
	font-size: 1.6em;
}
h4 {
	font-size: 1.3em;
}
span {
	font: 100%/1 'Helvetica', Arial, sans-serif;
}
.img-responsive {
    max-width: 100%;
    height: auto;
}
.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}
/* ---- Header ---- */
header {
    background: navy;
    padding: .5em;
}
.title {
    color: #fff;
    text-align: center;
}
/* ---- Aside ---- */
aside {
    display: none;
}
.vessle {
    padding: 1.5em 0;
}
/* ---- Main ---- */
main {
    margin-top: .5em;
    grid-template-columns: 1fr 1fr;
}
main {
    grid-column: 2/3;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
}
.hero {
    grid-column: 1/3;
}
.main-left {
    grid-column: 1/2;
}
.main-right {
    grid-column: 2/3;
}

/* ---- Footer ---- */
footer {
    background: #000;
}
/* @media (min-width: 768px) {
    main {
        display: grid;
    }
} */
@media (min-width: 768px) {
    /* .root {
        display: grid;
        grid-gap: 1em;
        grid-template-rows: .1fr 1fr 1fr 1fr 1fr 1fr 1fr .1fr;
    } */
    .wrapper {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr 2fr 1fr;
    }
    header,
    footer {
        grid-column: 1/4;
    }
    aside {
        display: block;
    }
    aside.left {
        grid-column: 1/2;
    }
    aside.right {
        grid-column: 3/4;
    }
    .table {
        display: grid;
        grid-gap: .25em;
        padding: .5em 0;
        /* grid-template-columns: 1fr 1fr; */
    }
    .data-row {
        display: grid;
        
        /* grid-row-gap: 1em; */
        /* grid-template-columns: 1fr 1fr 1fr 1fr; */
        grid-template-columns: 1fr 1fr;
        /* grid-template-rows: 1fr .001fr; */
    }


    data {
        font-size: .7em;
        /* border: none; */
        /* padding-bottom: .5em; */
    }
    .data-row {
        grid-gap: .25em;
        grid-template-columns: 1fr;
        /* border-bottom: 1px solid #999; */
    }
    .data-row span {
        border-bottom: 1px solid #999;
        display: grid;
        grid-gap: .25em;
        padding-bottom: .25em;
        grid-template-columns: 1fr 1fr;
    }
    .data-row:last-child {
        grid-template-columns: 1fr 3fr;
        padding-bottom: .5em;
    }
    .data-title {
        font-weight: bold; 
    }
    main {
        grid-column: 2/3;
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr;
    }
    .hero {
        grid-column: 1/2;
    }
    .main-left {
        grid-column: 1/2;
    }
    .main-right {
        grid-column: 1/2;
    }
}

@media (min-width: 1025px) {
    .wrapper {
        grid-template-columns: 1fr 2.5fr 1fr;
    }
    .table {
        grid-gap: .5em;
    }
    data {
        border: none;
    }
    .data-row {
        grid-template-columns: 1fr 1fr;
        border-bottom: 1px solid #999;
    }
    .data-row span {
        border: none;
        padding-bottom: .5em;
        grid-template-columns: 1fr 1fr;
    }
    .data-row:last-child {
        grid-template-columns: 1fr 3fr;
    }
    main {
        grid-template-columns: 1fr 1fr;
    }
    .hero {
        grid-column: 1/3;
    }
    .main-left {
        grid-column: 1/2;
    }
    .main-right {
        grid-column: 2/3;
    }
}