/* ========== Reset Styles =========== */
/* http://meyerweb.com/eric/tools/css/reset/
	 v2.0 | 20110126
	 License: none (public domain)
*/
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, em, img, ol, ul, li, form, label,
table, tbody, tfoot, thead, tr, th, td,
article, aside, details, embed,
figure, footer, header, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, figure,
footer, header, section {
	display: block;
}
div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	line-height: 1;
	background: #f9f9f9;
}
ol, ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}

/* --- General Selectors --- */
h1 {
	font: 100%/1 'Helvetica', Arial, sans-serif;
	color: #fff;
    text-transform: uppercase;
}
h2, h3, h4, p, a, li, data, figcaption {
	font: 100%/1 'Helvetica', Arial, sans-serif;
	color: #444;
}
h3 {
	font-size: 1.6em;
}
span {
	font: 100%/1 'Helvetica', Arial, sans-serif;
}
.root {
    position: relative;
}
.narrow {
    font-family: 'Arial Narrow';
}
.img-responsive {
    max-width: 100%;
    height: auto;
}
.wrapper {
    font-size: 1em;
    display: block;
    max-width: 1920px;
    margin: 1em auto;
    padding: 0 .5em;
}

/* ---- Header ---- */
header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #0516b0;
    padding: .75em 0 .5em;
}
.title {
    color: #fff;
    font-size: 1.75em;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}
.title sup {
    display: block;
    font-weight: normal;
    font-size: .3em;
    padding-left: 1.2em;
}
.header-flag {
    margin-left: 1em;
    width: 60px;
}
/* ---- Aside ---- */
aside {
    display: none;
}
.aside-title {
    color: #0516b0;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}
article {
    padding: 1em 0;
}
.vessel {
    padding: 1em 0 .5em;
}
.vessel-title {
    background: #0516b0;
    color: #fff;
    padding: .25em 0 .25em .5em;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}
.vessel-subtitle {
    background: #fff;
    border: 2px solid #0516b0;
    border-top: none;
    padding: .25em 0 .25em .5em;
    font-size: .75em;
    text-transform: uppercase;
}
#modal .vessel-title {
    font-size: 1.25em;
}
#modal .vessel-subtitle {
    font-size: .9em;
}
.table {
    display: grid;
    grid-gap: .25em;
    padding: .5em 0;
}
.data-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
data {
    font-size: .7em;
}
#modal data {
    font-size: 1em;
}
.data-row {
    grid-gap: .25em;
    grid-template-columns: 1fr;
}
.data-row span {
    border-bottom: 1px solid #999;
    display: grid;
    grid-gap: .25em;
    padding-bottom: .25em;
    grid-template-columns: 1fr 1fr;
}
.data-row:last-child {
    grid-template-columns: 1fr 3fr;
    padding-bottom: .5em;
}
.data-title {
    font-weight: bold;
}
.table {
    display: grid;
    grid-gap: .25em;
    padding: .5em 0;
}
.data-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
data {
    font-size: .7em;
}
#modal data {
    font-size: 1em;
}
.data-row {
    grid-gap: .25em;
    grid-template-columns: 1fr;
}
.data-row span {
    border-bottom: 1px solid #999;
    display: grid;
    grid-gap: .25em;
    padding-bottom: .25em;
    grid-template-columns: 1fr 1fr;
}
.data-row:last-child {
    grid-template-columns: 1fr 3fr;
    padding-bottom: .5em;
}
.data-title {
    font-weight: bold;
}
/* ---- Main ---- */
main {
    grid-column: 2/3;
    display: grid;
    grid-gap: .5em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .1fr .1fr .1fr .1fr;
}
.main-info {
    cursor: pointer;
}
.main-info:hover > img {
    opacity: .75;
}
.hero {
    grid-column: 1/3;
}
.main-title {
    background: #0516b0;
    color: #fff;
    padding: .3em;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: .9em;
}
.main-subtitle {
    border-top: none;
    padding: .5em;
    text-transform: uppercase;
    text-align: center;
    font-size: .5em;
}
.main-left {
    grid-column: 1/2;
}
.main-right {
    grid-column: 2/3;
}

/* ---- Footer ---- */
footer {
    background: #0516b0;
    background: #000;
    padding: .5em;
    position: relative;
    margin-top: 60px;
}
.footer-wrapper {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
}
.footer-title {
    color: #fff;
    text-transform: uppercase;
    font-size: .5em;
    align-self: flex-end;
}
.footer-emblem {
    background: #000;
    border-radius: 9px;
    display: inline-block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
.footer-emblem img {
    padding: .5em;
    width: 40px;
}
.footer-logo {
    display: block;
    width: 80px;
    align-self: center;
}
#modal {
    background: #fff;
    width: 85%;
    max-width: 600px;
    box-shadow: 2px 2px 6px #222;
    padding: 1em;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}
.backdrop {
    background: #000;
    display: none;
    opacity: .5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
}
#close {
    background: #fff;
    border: none;
    font-size: 1.25em;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    position: absolute;
    top: 2%;
    right: 2%;
    z-index: 30;
}
@media (min-width: 768px) {
    .wrapper {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr 2fr 1fr;
    }
    header,
    footer {
        grid-column: 1/4;
    }
    aside {
        display: block;
    }
    aside.left {
        grid-column: 1/2;
    }
    aside.right {
        grid-column: 3/4;
    }
    /* .table {
        display: grid;
        grid-gap: .25em;
        padding: .5em 0;
    }
    .data-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    data {
        font-size: .7em;
    }
    .data-row {
        grid-gap: .25em;
        grid-template-columns: 1fr;
    }
    .data-row span {
        border-bottom: 1px solid #999;
        display: grid;
        grid-gap: .25em;
        padding-bottom: .25em;
        grid-template-columns: 1fr 1fr;
    }
    .data-row:last-child {
        grid-template-columns: 1fr 3fr;
        padding-bottom: .5em;
    }
    .data-title {
        font-weight: bold;
    } */
    main {
        font-size: 1.5em;
        grid-column: 2/3;
        display: grid;
        grid-gap: .5em;
        grid-template-columns: 1fr;
    }
    .hero,
    .main-left,
    .main-right {
        grid-column: 1/2;
    }
    .footer-title {
        font-size: .75em;
    }
    .footer-emblem img {
        width: 60px;
    }
    .footer-logo {
        width: 100px;
    }
}

@media (min-width: 1025px) {
    .wrapper {
        grid-template-columns: 1fr 2.5fr 1fr;
    }
    .title {
        font-size: 2.5em;
    }
    .header-flag {
        width: 85px;
    }
    .table {
        grid-gap: .5em;
    }
    data {
        border: none;
    }
    .data-row {
        grid-template-columns: 1fr 1fr;
        border-bottom: 1px solid #999;
    }
    .data-row span {
        border: none;
        padding-bottom: .5em;
        grid-template-columns: 1fr 1fr;
    }
    .data-row:last-child {
        grid-template-columns: 1fr 3fr;
    }
    main {
        grid-template-columns: 1fr 1fr;
    }
    .hero {
        grid-column: 1/3;
    }
    .main-left {
        grid-column: 1/2;
    }
    .main-right {
        grid-column: 2/3;
    }
}