<div id="backdrop" class="backdrop" ng-click="$ctrl.destroyModal()"></div>

<aside class="left">
    <h2 class="aside-title narrow">Vessels in service</h2>
    <article ng-repeat="vessel in $ctrl.vessels | limitTo:4" id="placeholder_{{vessel.id}}">
        <div id="article_{{vessel.id}}">
            <img class="img-responsive vessel" ng-src="images/{{vessel.img}}.svg" alt="{{vessel.img}}">
            <h3 class="vessel-title narrow">{{vessel.title}} class</h3>
            <p class="vessel-subtitle narrow">{{vessel.subtitle}}</p>
            <div class="table">
                <div class="data-row">
                    <span>
                        <data class="data-title narrow">Stasndard Displacement</data>
                        <data class="data-value narrow">{{vessel.tonnes | number : fractionSize}} t</data>
                    </span>
                    <span>
                        <data class="data-title narrow">Length</data>
                        <data class="data-value narrow">{{vessel.length}} m</data>
                    </span>
                </div>
                <div class="data-row">
                    <span>
                        <data class="data-title narrow">Beam</data>
                        <data class="data-value narrow">{{vessel.beam}} m</data>
                    </span>
                    <span>
                        <data class="data-title narrow">Complement</data>
                        <data class="data-value narrow">{{vessel.pers}} pers.</data>
                    </span>
                </div>
                <div class="data-row">
                    <data class="data-title narrow">Armament</data>
                    <data class="data-value narrow">{{vessel.armament}}</data>
                </div>
            </div>
        </div>
    </article>
</aside>

<main>
    <figure class="hero main-info" ng-click="$ctrl.showModal(0)">
        <img class="img-responsive" src="images/main-01-halifax.jpg" alt="Halifax class frigate">
        <figcaption class="main-title narrow">halifax class</figcaption>
        <p class="main-subtitle narrow">multi-role patrol frigate (ffh)</p>
    </figure>

    <figure class="main-left main-info" ng-click="$ctrl.showModal(1)">
        <img class="img-responsive" src="images/main-02-victoria.jpg" alt="Victoria class submarine">
        <figcaption class="main-title narrow">victoria class</figcaption>
        <p class="main-subtitle narrow">long-range patrol submarine (ssk)</p>
    </figure>
    <figure class="main-right main-info" ng-click="$ctrl.showModal(4)">
        <img class="img-responsive" src="images/main-03-dewolf.jpg" alt="Dewolf class vessel">
        <figcaption class="main-title narrow">harry dewolf class</figcaption>
        <p class="main-subtitle narrow">arctic and offshore patrol vessel (aopv)</p>
    </figure>
    <figure class="main-left main-info" ng-click="$ctrl.showModal(2)">
        <img class="img-responsive" src="images/main-04-kingston.jpg" alt="Kingston class vessel">
        <figcaption class="main-title narrow">kingston class</figcaption>
        <p class="main-subtitle narrow">maritime coastal defence vessel (mm)</p>
    </figure>
    <figure class="main-right main-info" ng-click="$ctrl.showModal(5)">
        <img class="img-responsive" src="images/main-05-queenston.jpg" alt="Queenston class vessel">
        <figcaption class="main-title narrow">queenston class</figcaption>
        <p class="main-subtitle narrow">joint support ship (jss)</p>
    </figure>
    <figure class="main-left main-info" ng-click="$ctrl.showModal(3)">
        <img class="img-responsive" src="images/main-06-orca.jpg" alt="Orca class vessel">
        <figcaption class="main-title narrow">orca class</figcaption>
        <p class="main-subtitle narrow">patrol craft training vessel (pct)</p>
    </figure>
    <figure class="main-right main-info" ng-click="$ctrl.showModal(6)">
        <img class="img-responsive" src="images/main-07-iaor.jpg" alt="iAOR">
        <figcaption class="main-title narrow">iaor</figcaption>
        <p class="main-subtitle narrow">interim auxiliary oiler replanishment ship (mv) - cotracted&nbsp;service</p>
    </figure>
</main>

<aside class="right">
    <h2 class="aside-title narrow">Vessels in deployment</h2>
    <article ng-repeat="vessel in $ctrl.vessels | limitTo:3:4" id="placeholder_{{vessel.id}}">
        <div id="article_{{vessel.id}}">
            <img class="img-responsive vessel" ng-src="images/{{vessel.img}}.svg" alt="{{vessel.img}}">
            <h3 class="vessel-title narrow">{{vessel.title}} class</h3>
            <p class="vessel-subtitle narrow">{{vessel.subtitle}}</p>
            <div class="table">
                <div class="data-row">
                    <span>
                        <data class="data-title narrow">Stasndard Displacement</data>
                        <data class="data-value narrow">{{vessel.tonnes | number : fractionSize}} t</data>
                    </span>
                    <span>
                        <data class="data-title narrow">Length</data>
                        <data class="data-value narrow">{{vessel.length}} m</data>
                    </span>
                </div>
                <div class="data-row">
                    <span>
                        <data class="data-title narrow">Beam</data>
                        <data class="data-value narrow">{{vessel.beam}} m</data>
                    </span>
                    <span>
                        <data class="data-title narrow">Complement</data>
                        <data class="data-value narrow">{{vessel.pers}} pers.</data>
                    </span>
                </div>
                <div class="data-row">
                    <data class="data-title narrow">Armament</data>
                    <data class="data-value narrow">{{vessel.armament}}</data>
                </div>
            </div>
        </div>
    </article>
</aside>